    .filmImage {
        width: 100%
    }
    
    .filmInfo {
        color: white;
        transition: all .5s;
    }
    
    .card-info {
        color: #808080;
    }
    
    a {
        color: yellow;
        text-decoration: underline;
        transition: all .5s;
    }
    
    a:hover {
        opacity: .5;
    }
    
    .card-punt {
        padding: 5px 10px;
        background-color: yellow;
        border-radius: 6px;
        display: inline-block;
        color: black;
    }
    
    .card-text {
        font-weight: 400;
    }
    
    .card-imdb {
        padding: 10px;
        background-color: yellow;
        border-radius: 6px;
        display: inline-block;
        color: black;
        text-decoration: none;
    }